/* Style de base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #fff;
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-size: 22px;
}

/* Style de la navigation */
header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px 0;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 60px;
}

nav .logo h1 {
    color: #fff;
    font-size: 26px;
    font-weight: bold;
}

nav .logo h1 .blue-letter {
    color: #00eaff; 
}

/* --- MENU PC --- */
.desktop-menu {
    list-style: none;
    display: flex;
}

.desktop-menu li {
    margin-left: 20px;
}

.desktop-menu li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

.desktop-menu li a:hover {
    color: #00eaff;
}

.desktop-menu li a.active {
    display: none;
}

/* --- MENU MOBILE --- */
.menu-toggle {
    display: none; 
    font-size: 28px;
    cursor: pointer;
    color: white;
    background: none;
    border: none;
    position: absolute;
    top: auto;
    left: 20px;
}

.menu-toggle:hover {
    color: #00eaff;
}

.mobile-menu {
    display: none;
    position: absolute;
    top: 50px; 
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
}

.mobile-menu.active {
    display: flex;
    flex-direction: column;
}

.mobile-menu li {
    padding: 15px 0;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-left: none;
    border-right: none;
}

.mobile-menu li a {
    display: block;
    font-size: 20px;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
}

.mobile-menu li a:hover {
    background-color: rgba(255, 255, 255, 0.08);
}

/* Style du Hero section */
.hero {
    background: url('../assets/images/background/back_informatique.jpg') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Fond semi-transparent pour ombre */
    z-index: 1;
}

.hero-content {
    z-index: 2;
}

.hero h2 {
    font-size: 48px;
    font-weight: 300;
}

.hero h1 {
    font-size: 80px;
    font-weight: bold;
    margin: 20px 0;
}

.hero .btn {
    display: inline-block;
    padding: 15px 30px;
    border: 2px solid #ff0054;
    color: #ff0054;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.hero .btn:hover {
    background-color: #ff0054;
    color: #fff;
}

/* Style des sections */
.section {
    padding-bottom: 20px;
    height: 100%; 
    max-height: 100%;
    background-color: #ffffff; 
    color: #333;
}

.section:nth-child(even) {
    background-color: #f2f2f2; /* Alterner les couleurs des sections */
}

.section h2{
    font-size: 36px;
    margin-top: auto;
    margin-bottom: 15px;
    margin-left: 20px;
}

.section h3{
    font-size: 25px;
    margin-top: auto;
    margin-bottom: 10px;
    margin-left: 20px;
}

.section h4{
    font-size: 30px;
    margin-top: auto;
    margin-bottom: 10px;
    text-decoration: underline;
    text-align: center;
    color: #000000d8;
}

.section h5{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: #090909;
    text-shadow: 0 0 5px #fff, 0 0 2px #9feaff, 0 0 5px #ff00ff, 0 0 10px #00eaff,
      0 0 15px #00eaff, 0 0 20px #00eaff, 0 0 25px #00eaff;
}

.section h6{
    font-size: 15px;
    margin-top: 10px;
    text-align: center;
    color: #2c2c2c;
    font-style: italic;
}

.section p, .section i {
    font-size: 24px;
    line-height: 1.6;
    margin-left: 20px;
}


/*Section Mon Portfolio*/
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.3s;
}

/* Style des boutons dans l'overlay */
.overlay button, .overlay a {
    background: white;
    color: black;
    border: none;
    padding: 8px 12px;
    margin: 5px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: 0.3s;
}

.overlay a {
    background: #007bff;
    color: white;
}

.overlay button:hover, .overlay a:hover {
    opacity: 0.8;
}

/*Partie Tableau compétences*/
.portfolio-table {
    position: relative;
    width: 80%;
    margin: auto;
    margin-top: 2.5%; 
    margin-bottom: 2.5%;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 0 12px #00eaff;
    background: whitesmoke;
}
.portfolio-table img {
    width: 100%;
    height: auto;
    transition: 0.3s ease-in-out;
}

.portfolio-table:hover img {
    filter: blur(3px) brightness(70%);
}

.portfolio-table:hover .overlay {
    opacity: 1;
}

/*Partie conteneur*/
.portfolio-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; 
}

/* Style des cartes portfolio */
.portfolio-card {
    position: relative;
    flex: 1 1 calc(33.333% - 20px);
    width: 100%;
    max-width: 800px;
    min-width: 400px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: whitesmoke;
}

.portfolio-card img {
    width: 100%;
    height: auto;
    transition: 0.3s ease-in-out;
}

.portfolio-card:hover img {
    filter: blur(3px) brightness(70%);
}

.portfolio-card:hover .overlay {
    opacity: 1;
}


/* Style des boutons */
.filter-btn {
    background-color: #444;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

.filter-btn:hover, .filter-btn.active {
    background-color: #00eaff;
}

/* Styles du modal*/
.modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: none;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    position: relative;
    max-width: 80%;
    max-height: 80%;
}

.modal img {
    width: 100%;
    height: auto;
    max-height: 80vh;
    border-radius: 5px;
}

/* Bouton fermer aperçu */
.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
    color: #555;
}

.close:hover {
    color: black;
}

/*Boutons code php exemple*/
.button-container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
}

/* Boutons avec effet arrondi et ombre */
.code-button {
    width: 700px;
    height: 550px;
    background-size: cover;
    background-position: center;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    transition: transform 0.1s ease-out;
    box-shadow: 0.2s ease-in-out;
    transform-style: preserve-3d;
}

.code-button:hover {
    box-shadow: 6px 6px 15px rgba(63, 63, 63, 0.3);
}

.code-button:first-child {
    background-image: url('../assets/images/background/reedition_zpl.png');
     
}

.code-button:last-child {
    background-image: url('../assets/images/background/chaineauto.png'); 
}

/* Style de la modale */
.basculement {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.7);
    align-items: center;
    justify-content: center;
}

.basculement img {
    width: auto;
    height: auto;
    border-radius: 5px;
}


    /* Menu responsive */
@media screen and (max-width: 1200px) {
    .menu-toggle {
        display: block;
    }
    .desktop-menu {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .button-container {
        gap: 2%;
    }
    .portfolio {
        width: 100%;
        max-width: none;
    }
}